.card {
  height: 150px;
  width: 150px;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flip {
  transform: rotateY(180deg);
}

.card .front {
  background-color: #d4edda; 
}

.card .back {
  background-color: #f8d7da;
}
